body {
    background: url("assets/crew/background-crew-desktop.jpg");
    background-size: cover;
}

h4 {
    font-family: 'Bellefair';
    font-size: 2rem;
    opacity: 0.5;
}

.header-right {
    padding: 40px 0 60px 0;
}

.bottom-buttons {
    
    position: absolute;
    top: 540px;
}

.bottom-buttons-item {
    background-color: rgba(255, 255, 255, 0.17);
    padding: 0px 9px;
    margin-right: 25px;
    border-radius: 100%;
    color: rgba(255, 255, 255, 0);
    text-decoration: none;
}

.bottom-buttons-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0);
}

.active-bottom-buttons {
    background-color: white;
    color: white;
}

.img-part {
    height: 513px;
    text-align: center;
}

.com-img {
    height: 100%;

}

@media (max-width:990px) {
    body {
        background: url("assets/crew/background-crew-tablet.jpg");
        background-size: cover;
    }
    .crew-section{
        text-align: center;
    }
    .bottom-buttons{
        width: 58,3%;
        text-align: center;
        margin: 0 12.5px;
    }
    .img-part{
        margin-top:  120px ;
    }
}

@media (max-width:768px) {
    body {
        background: url("assets/crew/background-crew-mobile.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    h2{
        font-size: 2.5rem;
    }
    h4{
        font-size: 1.75rem;
    }
    .header-right{
        text-align: center;
    }
    .bottom-buttons{
        top: 660px;
        margin-left: 25%;
    }
    .com-img{
        height: 70%;
        /* position: absolute;
        top: 185px;
        left: 20%; */
    }
    .img-part{
        margin: auto;
    }
    .crew-section{
        position: absolute;
        top: 700px;
    }
    .row{
        padding: 0 !important;
    }
}